<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard del Médico</title>
    <link rel="stylesheet" href="/css/adminHospital.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">Clínica Salud</div>
        <nav>
            <ul>
                <li><a href="/admin/inicio">Inicio</a></li>
                <li><a href="/admin/pacientes">Paciente</a></li>
                <li><a href="/admin/medicos">Médicos</a></li>
                <li><a href="/admin/citas">Citas</a></li>
                <li><a href="/admin/clinicas">Hospitales</a></li>
                <li><a href="/admin/historial">Historial</a></li>
                 <li><a href="/publico/inicio">Cerrar Sesión</a></li>

            </ul>
        </nav>
    </header>
    <div class="container">
        <aside class="sidebar">
            <h2>Menú</h2>
            <ul>
                <li><a href="/admin/inicio">Inicio</a></li>
                <li><a href="/admin/pacientes">Paciente</a></li>
                <li><a href="/admin/medicos">Médicos</a></li>
                <li><a href="/admin/citas">Citas</a></li>
                <li><a href="/admin/clinicas">Hospitales</a></li>
                <li><a href="/admin/historial">Historial</a></li>
                 <li><a href="/publico/inicio">Cerrar Sesión</a></li>
            </ul>
        </aside>
        <main class="dashboard">
            
            <section class="appointments">
                <h2>Registro de Medicos</h2>
                <button id="openModal" class="btn">Registrar Medicos</button>
                
                <table>          
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Cedula</th>
                            <th>Especializacion</th>
                            <th>Hospital</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="medico : ${lista}">
                            <td th:text="${medico.nombre}"></td>
                            <td th:text="${medico.apellido}"></td>
                            <td th:text="${medico.cedula}"></td>
                            <td th:text="${medico.especialidad}"></td>
                            <td th:text="${medico.hospital.nombre}"></td>
                            <td>
                                <div class="action-icons">
                                    <a href="#" title="Actualizar"><i class="fas fa-sync-alt"></i></a>
                                    <a th:href="@{/admin/eliminar-medico?id=} + ${medico.id}"  title="Eliminar"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </td>
            
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Registrar Medicos</h2>
            <form th:action="@{/admin/medico-registrar}" method="post" th:object="${medicos}">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required th:field="*{nombre}">
            
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" required th:field="*{apellido}">
            
                <label for="cedula">Cédula:</label>
                <input type="text" id="cedula" name="cedula" required th:field="*{cedula}">

                <label for="especialidad">Especializacion:</label>
                <input type="text" id="especialidad" name="especialidad" required th:field="*{especialidad}">
            
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required th:field="*{email}">
            
                <label for="hospital">Hospital:</label>
                <select id="hospital" name="idHospital" required>
                    <option th:each="hospital : ${hospitales}"
                            th:value="${hospital.id}"
                            th:text="${hospital.nombre}"></option>
                </select>
            
                <button type="submit" class="btn">Registrar</button>
            </form>
        </div>
    </div>

    <script> 
        // Obtener elementos del modal
        const modal = document.getElementById("modal");
        const btn = document.getElementById("openModal");
        const span = document.getElementsByClassName("close")[0];

        // Abrir el modal al hacer clic en el botón
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // Cerrar el modal al hacer clic en el botón de cerrar
        span.onclick = function() {
            modal.style.display = "none";
        }

        // Cerrar el modal al hacer clic fuera del contenido
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>
</body>
</html>
